*{
    box-sizing: border-box;
    
}
body{
    font-family: arial,sans-serif;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    height: 100vh;
    
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
nav a{
    color: black;
    text-decoration: none;
    margin: 10px;
    opacity: 0.7;
}
nav span{
    
    opacity: 0.6;
}
nav a:hover{
    opacity: 1;
    text-decoration: underline;
}
nav a:last-child{
    color: white;
    background-color: #4285f4;
    opacity: 1;
    padding: 8px;
    border-radius: 3px;
}
nav a:last-child:hover{
text-decoration: none;
box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.377);
}
main{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.image{
    margin: 0 auto;
  
}
.arama{
    width: 600px;
    border: rgba(0, 0, 0, 0.164) solid 1px;
    height: 40px;
    margin: 20px;
    border-radius: 20px;
}
.buttons{
    margin-top: 10px;
    margin-right: 20px;
    opacity: 0.9;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.021);
}
.buttons:hover{
    box-shadow: 1px 1px rgba(0, 0, 0, 0.158);
}
footer{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    min-width: 400px;
    min-height: 50px;
    }
  
.country{
   margin-left: 40px;
   opacity: 0.6;
   
}
.last{
    display: grid;
    grid-template-columns: 50% 50%;
  
}
.faq{
  
    height: 30px;
    margin-left: 40px;
    padding-right: 90px;
}
.faq a{
    margin-right: 20px;
    
}
.settings{
   margin-right: 30px;
    justify-self: flex-end;
  

}
.settings a {
    margin-right: 30px;
}

.last a{
    text-decoration: none;
    color: black;
    opacity: 0.6;
}
.last a:hover {
    text-decoration: underline;
}
hr{
    color: rgba(0, 0, 0, 0.137);
}
@media (max-width: 600px){
    footer{
        padding-bottom: 80px ;
  
}